build
dist
.DS_Store
__pycache__
*.pyc
*.so
*.so.*
*.egg-info
build
libcache
appveyor.cfg
cypari/auto*
cypari/*.c
cypari/gen.h
cypari/cysignals/signals.c
cypari/cysignals/signals.h
cypari/cysignals/signals_api.h
cypari/auto_gen.pxi
cypari/auto_instance.pxi
cypari/ct_constants.pxi
cypari/gen_api.h
cypari/_pari*.h
cypari/_pari*.c
cypari/pari_long.pxi
*.tar.*
MANIFEST*
pythonenv
