pari-2.5.5
build
cypari.egg-info
dist
cypari_src/gen.c
cypari_src/gen.h
.DS_Store
__pycache__
*.pyc
*.so
*.so.*
Version2/build
Version2/libcache
Version2/appveyor.cfg
Version2/cypari/auto*
Version2/cypari/*.c
Version2/cypari/gen.h
Version2/cypari/cysignals/signals.c
Version2/cypari/cysignals/signals.h
Version2/cypari/cysignals/signals_api.h
Version2/cypari/auto_gen.pxi
Version2/cypari/auto_instance.pxi
Version2/cypari/ct_constants.pxi
Version2/cypari/gen_api.h
Version2/cypari/_pari*.h
Version2/cypari/_pari*.c
Version2/cypari/pari_long.pxi
Version2/*.tar.*
MANIFEST
pythonenv
