name: Windows wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build Windows wheels for 64 bit Python
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
  
    steps:       
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        name: Install a Python to use for building
        with:
          python-version: '3.12'
          
      - uses: msys2/setup-msys2@v2
        name: Setup an msys2 environment
        with:
          msystem: UCRT64
          release: false
          update: true
          install: >-
            base-devel
            m4
            bison
            make
            patch
            sed
          pacboy: gcc:p
          path-type: inherit

      - name: Downgrade binutils so that it works
        run: |
          pacman -U --noconfirm https://repo.msys2.org/mingw/ucrt64/mingw-w64-ucrt-x86_64-binutils-2.43.1-1-any.pkg.tar.zst
          
      - name: Expand the path for Visual Studio 2019
        run: |
          echo "/c/Program Files (x86)/Windows Kits/10/bin/10.0.19041.0/x64" >> $GITHUB_PATH

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==3.3.0
          
      - name: Build gmp and pari
        run: |
          bash build_pari.sh pari64 gmp64

      - name: Build many wheels
        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - uses: actions/upload-artifact@v4
        name: Save the wheels as artifacts
        with:
          path: ./wheelhouse/*.whl
